<div id="about" class="about">
     <div class="container">
         <div class="header-section text-center">
          <h2><span> </span>ABOUT<span> </span></h2>
          </div>
         <span><p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin,
           lorem quis bibendum auctor,nisi elit consequat ipsum,nec sagittis sem nibh id elit.Duis.</p></span>
           
        <div class="years">  
        <h4><b>2009</b></h4>
         <span><h4>Project Manager Web Center</h4></span>
         <p><i>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin,
          lorem quis bibendum auctor,nisi elit consequat ipsum,nec sagittis sem nibh id elit.Duis.</i></p>
        </div> 
        
        <div class="years">     
         <h4><b>2012</b></h4>
         <span><h4>Manager Delta Coders</h4></span>
         <p><i>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin,
          lorem quis bibendum auctor,nisi elit consequat ipsum,nec sagittis sem nibh id elit.Duis.</i></p>
        </div> 
          
         <div class="years">    
         <h4><b>2013</b></h4>
         <span><h4>Owner Alternative Labs</h4></span>
         <div class="labs">
           <p><i>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin,
            lorem quis bibendum auctor,nisi elit consequat ipsum,nec sagittis sem nibh id elit.Duis.
            sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec teltus</i></p>
           </div>
        </div>
         <a class="arrow scroll" href="#skills"><span> </span></a>
      </div>
    </div>
