<script type="text/javascript" src="./scripts/controllers//move-top.js"></script>
    <script type="text/javascript" src="./scripts/controllers/easing.js"></script>
    <script type="text/javascript">
      jQuery(document).ready(function($) {
        $(".scroll").click(function(event){   
          event.preventDefault();
          $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
        });
      });
    </script>
    
 <div  id="contact" class="footer">
      <div class="container">
	  
		   <div class="contact-section text-center">
			  <h2><span> </span>CONTACT<span> </span></h2>
		  </div>
		 <div class="row">
		 
			 <div class="col-md-6">
				  <div class="footer-left">
						<div class="social-icons">
						   <a href="https://www.linkedin.com/profile/view?id=144037420&trk=nav_responsive_tab_profile_pic"><img src="./images/in.png"></a>
						   <a href="#/"><img src="./images/twt.png"></a>
						   <a href="https://www.facebook.com/yuai.wang.7"><img src="./images/fb.png"></a>
					   </div>
					   <p><div ng-repeat = "etab in contact.formation " >
						  {{etab.address}} 							
  						 </div></p>
				  </div>
			 </div>
			  
			  <div class="col-md-6">
				  <div class="footer-right">
				 <div class="form">
				 <form>
					 <input type="text" class="text" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}">
					 <input type="text" class="text" value="E-mail" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'E-mail';}">
					 <textarea rows="2" cols="70" onfocus="if(this.value == 'Your Message') this.value='';" onblur="if(this.value == '') this.value='Your Message';" >Your Message</textarea>
					 <div class="clear"> </div>
					 <input type="submit" value="SEND"> 
				 </form>
				 </div>
				  </div>
				  <div class="clear"></div>
				  <p class="copy-right">Template by <a href="http://w3layouts.com/">W3layouts</a></p>
			  </div>
		 </div>
	 </div>
	 <a class="up scroll" href="#top-top"><span> </span></a>
	  
 </div>